.Main {
  flex-grow: 1;
  display: block;
  background-color: #0079be;
  position: relative;
  padding-top: 50px;
  overflow-x: auto;
  overflow-y: hidden;
}

.ListsWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
