@media (min-width: 625px) {

    .ChecklistItem {
        display: flex;
    }

    .ChecklistItemContent {
        padding-top: 5px;
        min-height: 35px;
        cursor: pointer;
        display: flex;
        /* align-items: center; */
        padding-left: 5px;
        margin-left: 12px;
        width: 92%;
        align-self: center;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .EditChecklistItem {
        padding-top: 5px;
        display: flex;
        /* align-items: center; */
        padding-left: 5px;
        margin-left: 25px;
        width: 100%;
        align-self: center;
        margin-bottom: 5px;
        flex-direction: column;
    }

    .EditChecklistItem > textarea {
        margin-bottom: 10px;
    }

    .EditChecklistItem > div{
        display: flex;
    }

    .SaveEdit {
        border: none;
        background-color: #28a745 ;
        color: #ffffff;
        height: 30px;
        border-radius: 5px;
        margin-right: 10px;
        margin: 0px 10px 10px 0px;
        transition: 0.2s;
    }

    .SaveEdit:hover,
    .SaveEdit:focus {
        background-color: #218c3a;
    }

    .CancelEdit {
        height: 30px;
        width: 30px;
        padding: 0px;
        border: none;
        background-color: #f7f7f7;
        border-radius: 5px;
        transition: 0.2s;
    }

    .CancelEdit:hover {
        background-color: #bdbdbd;
    }

    .ChecklistItemContent > span {
        width: 90%;
        align-self: center;
    }

    .ChecklistItemContent:hover,
    .ChecklistItemContent:focus {
        background-color: #e2e2e2;
    }

    .Checkbox {
        position: relative;
        top: 8px;
        height: 17px;
        width: 17px;
        border: 2px solid #747474;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #ffffff;
        transition: 0.2s;
        cursor: pointer;
    }

    .Checkbox:hover, 
    .Checkbox:focus {
        background-color: #d0d0d0;
    }

    .TaskDone > div.Checkbox {
        background-color: #28a745;
        border: 1px solid #28a745;
        color: #ffffff
    }

    .TaskDone > div.Checkbox:hover, 
    .TaskDone > div.Checkbox:focus {
        background-color:  #218c3a;
    }

    .TaskDone > .ChecklistItemContent > span {
        text-decoration: line-through;
        color: #000000;
        opacity: 45%;

    }
   
    .Delete {
        position: relative;
        right: -5px;
        height: 26px;
        width: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        margin: 0 0 0 0px;
        padding:0;
        background-color: #b10000;
        color: #ffffff;
        border-radius: 5px;
    }

    .Delete:hover,
    .Delete:focus {
        background-color: #8c0000;
    }
}

@media (min-width: 401px) and (max-width: 624px) {

    .ChecklistItem {

        display: flex;
    }

    .ChecklistItemContent {
        padding-top: 5px;
        min-height: 35px;
        cursor: pointer;
        display: flex;
        /* align-items: center; */
        padding-left: 5px;
        margin-left: 14px;
        width: 89%;
        align-self: center;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .ChecklistItemContent > span {
        width: 90%;
        align-self: center;
    }

    .ChecklistItemContent:hover,
    .ChecklistItemContent:focus {
        background-color: #e2e2e2;
    }

    .Checkbox {
        position: relative;
        top: 8px;
        height: 17px;
        width: 17px;
        border: 2px solid #747474;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #ffffff;
        transition: 0.2s;
        cursor: pointer;
    }

    .Checkbox:hover, 
    .Checkbox:focus {
        background-color: #d0d0d0;
    }

    .TaskDone > div.Checkbox {
        background-color: #28a745;
        border: 1px solid #28a745;
        color: #ffffff
    }

    .TaskDone > div.Checkbox:hover, 
    .TaskDone > div.Checkbox:focus {
        background-color:  #218c3a;
    }

    .TaskDone > .ChecklistItemContent > span {
        text-decoration: line-through;
        color: #000000;
        opacity: 45%;

    }
   
    .Delete {
        position: relative;
        right: -5px;
        height: 26px;
        width: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        margin: 0 0 0 0px;
        padding:0;
        background-color: #b10000;
        color: #ffffff;
        border-radius: 5px;
    }

    .Delete:hover,
    .Delete:focus {
        background-color: #8c0000;
    }

}

@media (max-width: 400px) {
    .ChecklistItem {

        display: flex;
    }

    .ChecklistItemContent {
        padding-top: 5px;
        min-height: 35px;
        cursor: pointer;
        display: flex;
        /* align-items: center; */
        padding-left: 5px;
        margin-left: 14px;
        width: 89%;
        align-self: center;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .ChecklistItemContent > span {
        width: 90%;
        align-self: center;
    }

    .ChecklistItemContent:hover,
    .ChecklistItemContent:focus {
        background-color: #e2e2e2;
    }

    .Checkbox {
        position: relative;
        top: 8px;
        height: 17px;
        width: 17px;
        border: 2px solid #747474;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #ffffff;
        transition: 0.2s;
        cursor: pointer;
    }

    .Checkbox:hover, 
    .Checkbox:focus {
        background-color: #d0d0d0;
    }

    .TaskDone > div.Checkbox {
        background-color: #28a745;
        border: 1px solid #28a745;
        color: #ffffff
    }

    .TaskDone > div.Checkbox:hover, 
    .TaskDone > div.Checkbox:focus {
        background-color:  #218c3a;
    }

    .TaskDone > .ChecklistItemContent > span {
        text-decoration: line-through;
        color: #000000;
        opacity: 45%;

    }
   
    .Delete {
        position: relative;
        right: 13px;
        height: 26px;
        width: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        margin: 0 0 0 0px;
        padding:0;
        background-color: #b10000;
        color: #ffffff;
        border-radius: 5px;
    }

    .Delete:hover,
    .Delete:focus {
        background-color: #8c0000;
    }
}
