@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.Toolbar {
    display: flex;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #0067a2;
    position: fixed;
    z-index: 5;
}

.Logout {
    position: absolute;
    right: 0px;
    margin: 0px 10px;
    height: 60%;
    border-radius: 5px;

    padding: 3px 10px;
    background-color: #4e97c2;
    text-decoration: none;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logout:hover {
    background-color: #3486b6;
    transition: 0.3s;
    cursor: pointer;
}

.Logout p{
    color: white;
    text-decoration: none;
    align-self: center;
    font-size: 16px;
    margin: 0px;
    font-weight: 700;

}

/* .NavigationItem {
    margin: 0px 0px 0px 10px;
    height: 60%;
    border-radius: 5px;
     width: 60px; 
    padding: 3px 10px;
    background-color: #4e97c2;
    text-decoration: none !important;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavigationItem:hover {
    background-color: #3486b6;
    transition: 0.3s;
}

.NavigationItem p{
    color: white;
    text-decoration: none;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

 */

