@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html, body, #root {
  width: 100%;
  height: 100%;
  display: flex;
}

html, button, textarea, p, select, input, del {
  font-family: 'Roboto', sans-serif;
  color: #3f3f3f;
}

*,*:focus,*:hover{
    outline:none;
}