@media (min-width: 625px) {
  .ChecklistHeader {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 35px;
  }

  .Checklist {
    margin-left: 10px;
  }

  .ChecklistHeader > h2 {
    margin: 0;
    display: inline-block;
    font-size: 16px;
  }

  .ChecklistHeader > svg {
    margin-right: 13px;
  }

  .ChecklistHeader > button {
    position: absolute;
    right: 5px;
    padding: 5px 10px;
    background-color: #dddddd;
    border: none;
    transition: 0.2s;
    border-radius: 5px;
  }

  .ChecklistHeader > button:hover,
  .ChecklistHeader > button:focus {
    background-color: #bdbdbd;
  }

  .ChecklistContent {
    padding-left: 5px;
  }

  .ChecklistContent > button {
    margin: 5px 0px 0px 34px;
    padding: 5px 10px;
    background-color: #dddddd;
    border: none;
    transition: 0.2s;
    border-radius: 5px;
  }
  .ChecklistContent > button:hover,
  .ChecklistContent > button:focus {
    background-color: #bdbdbd;
  }

  .ProgressBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

  .ProgressBar > div {
    width: 90%;
    border-radius: 5px;
  }

  .ProgressBar > span {
    margin-right: 16px;
  }
}

@media (min-width: 401px) and (max-width: 624px) {
  /* .Checklist {
    margin-left: 10px;
  } */

  .ChecklistHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .ChecklistHeader > h2 {
    margin: 0;
    display: inline-block;
    font-size: 16px;
  }

  .ChecklistHeader > svg {
    margin-right: 13px;
  }

  .ChecklistHeader > button {
    position: absolute;
    right: 10px;
    padding: 5px;
    background-color: #dddddd;
    border: none;
    transition: 0.2s;
    border-radius: 5px;
  }

  .ChecklistHeader > button:hover,
  .ChecklistHeader > button:focus {
    background-color: #bdbdbd;
  }

  .ChecklistContent {
    padding-left: 5px;
  }

  .ChecklistContent > button {
    margin: 5px 0px 0px 32px;
    padding: 5px 10px;
    background-color: #dddddd;
    border: none;
    transition: 0.2s;
    border-radius: 5px;
  }
  .ChecklistContent > button:hover,
  .ChecklistContent > button:focus {
    background-color: #bdbdbd;
  }


  .ProgressBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

  .ProgressBar > div {
    width: 100%;
    border-radius: 5px;
    margin-right: 10px;
  }

  .ProgressBar > span {
    margin-right: 16px;

  }
}

@media (max-width: 400px) {
  /* .Checklist {
    margin-left: 10px;
  } */

  .ChecklistHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .ChecklistHeader > h2 {
    margin: 0;
    display: inline-block;
    font-size: 16px;
  }

  .ChecklistHeader > svg {
    margin-right: 13px;
  }

  .ChecklistHeader > button {
    position: absolute;
    right: 10px;
    padding: 5px;
    background-color: #dddddd;
    border: none;
    transition: 0.2s;
    border-radius: 5px;
  }

  .ChecklistHeader > button:hover,
  .ChecklistHeader > button:focus {
    background-color: #bdbdbd;
  }

  .ChecklistContent {
    padding-left: 5px;
  }

  .ChecklistContent > button {
    margin: 5px 0px 0px 34px;
    padding: 5px 10px;
    background-color: #dddddd;
    border: none;
    transition: 0.2s;
    border-radius: 5px;
  }
  .ChecklistContent > button:hover,
  .ChecklistContent > button:focus {
    background-color: #bdbdbd;
  }


  .ProgressBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

  .ProgressBar > div {
    width: 100%;
    border-radius: 5px;
    margin-right: 10px;
  }

  .ProgressBar > span {
    margin-right: 16px;

  }

}
