.Column {
    height: auto;
    margin: 10px;
  }
  
  .Container {
    width: 250px;
    background-color: #ebecf0;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
  }
  
  .CardList {
    width: auto;
    /* padding: 0 10px; */
    display: flex;
    flex-direction: column;
  }
  
  .ListHeader {
    display: flex;
    position: relative;
    margin-bottom: 5px;
  }
  
  .Title {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    padding: 5px;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    resize: none;
    overflow: hidden;
    box-sizing: content-box;
    width: 100%;
  }
  
  .Title:focus {
    border: 1px solid rgb(0, 121, 190, 80%);
    background-color: white;
  }
  
  .NewCard {
    border: none;
    resize: none;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    color: #3f3f3f;
    cursor: text !important;
  }
  
  .AddCard {
    display: flex;
    background-color: #5aad45;
    border: none;
    font-family: inherit;
    font-size: 14px;
    color: white;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .AddCard:hover {
    background-color: #488a37;
  }

  .Actions {
    display: flex;
    flex-direction: row;
  }

  .Close {
    cursor: pointer;
    border-radius: 5px;
  }

.Close:hover,
.Close:active,
.Close:focus {
  background-color: #d3d4d8;
}
  