.AddList {
  height: 100%;
  width: 250px;
  background-color: #ebecf0;
  border-radius: 5px;
  padding: 10px 10px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  transition: 0.3s;
  margin-right: 20px;
}

.AddList:hover,
.AddList:active,
.AddList:focus
 {
    background-color: #d3d4d8;
}

.NewList {
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.Icon {
  margin: 10px;
  font-size: 30px
}

span {
  display: inline-block;
}
