.Column {
  /* height: 100%; */
  margin: 10px;
  position: relative;
}

.Container {
  width: 250px;
  height: auto;
  background-color: #ebecf0;
  border-radius: 5px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.CardList {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.ListHeader {
  display: flex;
  position: relative;
  /* margin-bottom: 5px; */
  margin: 0px 10px 5px 10px;
}

.Title {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  margin: 0px;
  padding: 5px;
  font-family: inherit;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  resize: none;
  overflow: hidden;
  box-sizing: content-box;
}

.Title:focus {
  border: 1px solid rgb(0, 121, 190, 80%);
  background-color: white;
}

.NewCard {
  border: none;
  resize: none;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  color: #3f3f3f;
  cursor: text !important;
}

.NewCardWrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.Option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0px;
  cursor: pointer;
  border-radius: 5px;
}

.Option:hover,
.Option:active,
.Option:focus {
  background-color: #d1d1d1;
}

.AddCard {
  display: flex;
  background-color: #478a36;
  border: none;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: white;
  width: 100px;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.AddCard:hover,
.AddCard:active,
.AddCard:focus {
  background-color: #57a743;
}
