.Card {
    height: fit-content;
    min-height: 19px;
    background-color: white;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    position: relative;
    line-height: 20px;
    box-shadow: 1px 1px rgba(9,30,66,.25);
    cursor: pointer !important;
}

.Card:hover {
    color: inherit;
    text-decoration: none;
}

.CardText{
    margin:0px 0px 0px 0px;
    margin-bottom: 0px;
    font-size: 14px;
}

.dragging{
    background-color: #e4e4e4;
}

.Option {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #e1e1e1;
    z-index: 10;
    cursor: pointer;
}

.Option:hover,
.Option:active,
.Option:focus
 {
    background-color: #d1d1d1;
}


