.Option {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: -1px 1px 3px rgba(9, 30, 66, 0.35);
  position: absolute;
  z-index: 11;
  list-style: none;
  overflow: hidden;
  width: 200px;
  left: 0px;
  top: 40px;
}

.OptionHeader,
.OptionHeaderSort {
  height: 30px;
  display: flex;
  border-bottom: 1px solid #ccc;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.OptionHeader {
  padding-left: 15px;
}

.OptionHeader > span,
.OptionHeaderSort > span {
  flex-grow: 1;
  text-align: center;
}

.Close {
  color: #3f3f3f;
  height: 25px;
  width: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  border-radius: 5px;
  margin-right: 3px;
}

.Close:hover,
.Close:focus {
  background-color: #bcbcc0;
}

.Input {
  display: flex;
  justify-content: center;
}

.Input > input {
  border-radius: 5px;
  border: 1px solid #858585;
  padding: 5px
}

.Input > input:focus {
  border-radius: 5px;
  border: 1px solid #272727;
  padding: 5px
}


.Actions > button {
  display: flex;
  border: none;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: white;
  width: 70px;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px;
  margin-left: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.SuccessButton {
  background-color: #478a36;
}

.SuccessButton:hover,
.SuccessButton:active,
.SuccessButton:focus {
  background-color: #57a743;
}

.DangerButton {
  background-color: #8f2818;
}

.DangerButton:hover,
.DangerButton:active,
.DangerButton:focus {
  background-color: #b13320;
}

.Actions {
  display: flex;
  margin-top: 10px;
  margin: 10px 0px 5px 0px
}

