.CardWrapper {
  width: 200px;
  height: 90px;
  background-color: #0067a2;
  padding: 5px 10px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
}

.CardWrapper:hover {
  color: #ffffff;
  background-color: #00598d;
  text-decoration: none;
}

.Title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  overflow: hidden;

  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
