.NewBoard {
  height: 90px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  margin: 10px;
  font-size: 30px
}

span {
  display: inline-block;
}

.AddBoard {
  height: 100%;
  width: 200px;
  background-color: #ebecf0;
  border-radius: 5px;
  padding: 10px 10px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin-right: 20px;
}

.AddBoard:hover,
.AddBoard:active,
.AddBoard:focus
 {
    background-color: #d3d4d8;
}
