@media (min-width: 625px) {

  .DescriptionHeader > svg {
    margin-right: 10px;
  }

  .Description {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .Description > textarea {
    width: 88%;
    box-sizing: border-box;
    margin-left: 36px;
  }

  .DescriptionField{
    width: 88%;
    min-height: 60px;
    background-color: #dddddd;
    margin-left: 36px;
    border-radius: 5px;
    padding: 8px;
  }

  .DescriptionHeader {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .DescriptionHeader > button {
    height: 35px;
    padding: 5px;
    width: 50px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #dddddd;
  }

  .DescriptionHeader > button:hover,
  .DescriptionHeader > button:focus {
    background-color: #bdbdbd;
  }

  .DescriptionHeader > h2 {
    font-size: 16px;
    margin: 0;
  }

}

@media (min-width: 401px) and (max-width: 624px) {

  .DescriptionHeader > svg {
    margin-right: 15px;
  }

  .Description {
    width: 100%;
    margin-bottom: 10px;
    /* margin-left: 10px; */
  }

  .Description > textarea {
    width: 85%;
    box-sizing: border-box;
    margin-left: 40px;
  }

  .DescriptionHeader {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .DescriptionHeader > button {
    height: 35px;
    padding: 5px;
    width: 50px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #dddddd;
  }

  .DescriptionHeader > h2 {
    font-size: 16px;
  }
}

@media (max-width: 400px) {

  .DescriptionHeader > svg {
    margin-right: 15px;
  }

  .Description {
    width: 100%;
    margin-bottom: 10px;
    /* margin-left: 10px; */
  }

  .Description > textarea {
    width: 85%;
    box-sizing: border-box;
    margin-left: 40px
  }

  .DescriptionHeader {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .DescriptionHeader > button {
    height: 35px;
    padding: 5px;
    width: 50px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #dddddd;
  }

  .DescriptionHeader > h2 {
    font-size: 16px;
  }
}
