.Signup {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.SignupFormWrapper {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SignupFormWrapper > h3 {
  margin-bottom: 30px;
}

.SignupButton {
  border: none;
  border-radius: 5px;
  font-size: 1em;
  background-color: #478a36;
  color: #ffffff;
  padding: 8px 30px;
  margin-left: 8px;
  justify-self: flex-start;
}

.SignipButton:hover {
  background-color: #57a743;
  transition: 0.3s;
}

.FormActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.Register {
  margin-right: 15px;
  font-weight: bold;
}

.ValidationError {
  color: #ff0000;
  margin-left: 8px;
  margin-bottom: 0px;
}

.Error {
  color: #ff0000;
  position: absolute;
  top: 95px
}

