@media (min-width: 625px) {
  .CardActions {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px auto;
  }

  .CardActions > h2 {
    font-size: 16px;
  }

  .ButtonWrapper > button {
    width: 140px;
    height: 35px;
    margin-bottom: 5px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    text-align: start;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .ButtonWrapper > button:hover,
  .ButtonWrapper > button:focus {
    background-color: #bdbdbd;
  }

  .ButtonWrapper > button > svg {
    margin-right: 10px;
  }

  .CardActions > h2 {
    margin: 0px 0px 5px 0px;
  }

  .ButtonWrapper {
    position: relative;
  }

}

@media (min-width: 471px) and (max-width: 624px) {

  .CardActions {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
  }

  .CardActions > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 2 1 2 2;
  }

  .CardActions > h2 {
    font-size: 16px;
  }

  .ButtonWrapper > button {
    width: 45%;
    min-width: 100px;
    height: 35px;
    margin-bottom: 10px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    text-align: start;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .ButtonWrapper > button:hover,
  .ButtonWrapper > button:focus {
    background-color: #bdbdbd;
  }

  .ButtonWrapper > button > svg {
    margin-right: 10px;
  }

  .CardActions > h2 {
    margin: 0px 0px 5px 0px;
  }

  
  .ButtonWrapper {
    position: relative;
  }

}

@media (max-width: 470px) {

  .CardActions {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
  }

  .CardActions > .CardActionButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .CardActions > h2 {
    font-size: 16px;
  }

  .ButtonWrapper > button {
    width: 140px;
    height: 35px;
    margin-bottom: 10px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    text-align: start;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .ButtonWrapper > button:hover,
  .ButtonWrapper > button:focus {
    background-color: #bdbdbd;
  }

  .ButtonWrapper > button > svg {
    margin-right: 10px;
  }

  .CardActions > h2 {
    margin: 0px 0px 5px 0px;
  }

  .ButtonWrapper {
    position: relative;
  }
}
