@media (min-width: 625px) {

  .CardDetailsModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  .CardDetailWrapper {
    width: 600px;
    background-color: #f7f7f7;
    z-index: 20;
    display: flex;
    border-radius: 5px;
    padding: 10px 20px 20px 10px;
    position: relative;
  }

  .CardContent {
    width: 70%;
  }

  .CardTitle {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px
  }

  .CardTitle > textarea {
    width: 100%;
    border: 1px solid transparent;
    background-color: #f7f7f7;
    font-weight: bold;
    font-size: 16px;
    padding: 5px
  }

  .CardTitle > textarea:focus {
    border: 1px solid black;
    background-color: white;
  }

  .CardTitle > div > svg,
  .DescriptionHeader > svg {
    margin-right: 10px;
  }

  .Description {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px
  }

  .Description > textarea {
    width: 88%;
    box-sizing: border-box;
    margin-left: 36px;
  }

  .DescriptionHeader {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .DescriptionHeader > button {
    height: 35px;
    padding: 5px;
    width: 50px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #dddddd;
  }

  .DescriptionHeader > button:hover,
  .DescriptionHeader > button:focus {
    background-color: #bdbdbd;
  }

  .DescriptionHeader > h2 {
    font-size: 16px;
    margin: 0;
  }

  .CardActions {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px auto;
  }

  .CardActions > h2 {
    font-size: 16px;
  }

  .CardActions > .CardActionButtons > button {
    width: 140px;
    height: 35px;
    margin-bottom: 5px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    text-align: start;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .CardActions > .CardActionButtons > button:hover,
  .CardActions > .CardActionButtons > button:focus {
    background-color: #bdbdbd;
  }

  .CardActions > .CardActionButtons > button > svg {
    margin-right: 10px;
  }

  .CardActions > h2 {
    margin: 0px 0px 5px 0px;
  }

  div > textarea {
    resize: none;
    border-radius: 5px;
    padding: 5px;
  }

  .Close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: 0.2s;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: #f7f7f7;
    cursor: pointer;
  }

  .Close > svg {
    color: #222222;
  }

  .Close:hover {
    background-color: #bcbcc0;
  }

  .Checkbox {
    position: relative;
    top: 8px;
    left: 0px;
    height: 17px;
    width: 17px;
    border: 2px solid #747474;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
  }

  .DueDate {
    margin-bottom: 10px;
    margin-left: 15px;
    display: flex;
    width: auto;
  }

  .DueDate > .Checkbox {
    margin-right: 15px;
  }

  .DueDate > button {
    height: 35px;
    width: 140px;
    border: none;
    background-color: #dddddd;
    border-radius: 5px;
    padding: 0px 10px;
    width: auto;
  }

  .DueDateDone > button,
  .DueDateDone > .Checkbox {
    background-color: #28a745;
    color: #ffffff;
  }

  .DueDateDone > button:hover,
  .DueDateDone > button:focus,
  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    background-color: #218c3a;
    color: #ffffff;
  }

  .DueDateDone > .Checkbox {
    border: 2px solid #28a745;
  }

  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    border: 2px solid #218c3a;
  }

  .DueDateOverdue > button {
    background-color: #c42b2b;
    color: #ffffff;
  }

  .DueDateOverdue > button:hover,
  .DueDateOverdue > button:focus {
    background-color: #f53636 !important;
  }

  .DueDate > button:hover .DueDate > button:focus {
    background-color: #bdbdbd;
  }
}

@media (min-width: 401px) and (max-width: 624px) {

  .CardDetailsModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    overflow: auto;
    height: 100%;
    width: 100%;
  }


  /* .CardDetailWrapper {
    width: 600px;
    background-color: #f7f7f7;
    z-index: 20;
    display: flex;
    border-radius: 5px;
    padding: 10px 20px 20px 10px;
    top: 50%;

    position: fixed;
  } */

  .CardDetailWrapper {
    position: relative;
    width: 95%;
    background-color: #f7f7f7;
    z-index: 20;
    display: flex;
    padding: 15px;
    border-radius: 5px;
    flex-direction: column;
  }

  .CardContent {
    width: 100%;
    position: relative;
  }

  .CardTitle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 90%;
  }

  .CardTitle > textarea {
    width: 83%;
    max-width: 400px;
    border: 1px solid transparent;
    background-color: #f7f7f7;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
  }

  .CardTitle > textarea:focus {
    border: 1px solid black;
    background-color: white;
  }

  .CardTitle > div{
    margin-right: 10px;
  }

  .DescriptionHeader > svg {
    margin-right: 15px;
  }

  .Description {
    width: 100%;
    margin-bottom: 10px;
    /* margin-left: 10px; */
  }

  .Description > textarea {
    width: 85%;
    box-sizing: border-box;
    margin-left: 40px;
  }

  .DescriptionHeader {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .DescriptionHeader > button {
    height: 35px;
    padding: 5px;
    width: 50px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #dddddd;
  }

  .DescriptionHeader > h2 {
    font-size: 16px;
  }

  .CardActions {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
  }

  .CardActions > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 2 1 2 2;
  }

  .CardActions > h2 {
    font-size: 16px;
  }

  .CardActions > .CardActionButtons > button {
    width: 45%;
    height: 35px;
    margin-bottom: 10px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    text-align: start;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .CardActions > .CardActionButtons > button:hover,
  .CardActions > .CardActionButtons > button:focus {
    background-color: #bdbdbd;
  }

  .CardActions > .CardActionButtons > button > svg {
    margin-right: 10px;
  }

  .CardActions > h2 {
    margin: 0px 0px 5px 0px;
  }

  div > textarea {
    resize: none;
    border-radius: 5px;
    padding: 8px 10px;
  }

  .Close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: 0.2s;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: #f7f7f7;
    cursor: pointer;
  }

  .Close > svg {
    color: #222222;
  }

  .Close:hover {
    background-color: #bcbcc0;
  }

  .Checkbox {
    position: relative;
    top: 8px;
    left: 0px;
    height: 17px;
    width: 17px;
    border: 2px solid #747474;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
  }

  .DueDate {
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;
    width: auto;
  }

  .DueDate > .Checkbox {
    margin-right: 18px;
  }

  .DueDate > button {
    height: 35px;
    width: 140px;
    border: none;
    background-color: #dddddd;
    border-radius: 5px;
    padding: 0px 10px;
    width: auto;
  }

  .DueDateDone > button,
  .DueDateDone > .Checkbox {
    background-color: #28a745;
    color: #ffffff;
  }

  .DueDateDone > button:hover,
  .DueDateDone > button:focus,
  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    background-color: #218c3a;
    color: #ffffff;
  }

  .DueDateDone > .Checkbox {
    border: 2px solid #28a745;
  }

  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    border: 2px solid #218c3a;
  }

  .DueDateOverdue > button {
    background-color: #c42b2b;
    color: #ffffff;
  }

  .DueDateOverdue > button:hover,
  .DueDateOverdue > button:focus {
    background-color: #f53636 !important;
  }

  .DueDate > button:hover .DueDate > button:focus {
    background-color: #bdbdbd;
  }
}

@media (max-width: 400px) {

  .CardDetailsModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  
  .CardDetailWrapper {
    position: relative;
    width: 95%;
    min-width: 310px;
    background-color: #f7f7f7;
    z-index: 20;
    display: flex;
    padding: 15px;
    border-radius: 5px;
    flex-direction: column;
  }

  .CardContent {
    width: 100%;
    position: relative;
  }

  .CardTitle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 90%;
  }

  .CardTitle > textarea {
    width: 78%;
    border: 1px solid transparent;
    background-color: #f7f7f7;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
  }

  .CardTitle > textarea:focus {
    border: 1px solid black;
    background-color: white;
  }

  .CardTitle > div {
    margin-right: 10px;
  }

  .DescriptionHeader > svg {
    margin-right: 15px;
  }

  .Description {
    width: 100%;
    margin-bottom: 10px;
    /* margin-left: 10px; */
  }

  .Description > textarea {
    width: 85%;
    box-sizing: border-box;
    margin-left: 40px
  }

  .DescriptionHeader {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .DescriptionHeader > button {
    height: 35px;
    padding: 5px;
    width: 50px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #dddddd;
  }

  .DescriptionHeader > h2 {
    font-size: 16px;
  }

  .CardActions {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
  }

  .CardActions > .CardActionButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .CardActions > h2 {
    font-size: 16px;
  }

  .CardActions > .CardActionButtons > button {
    width: 140px;
    height: 35px;
    margin-bottom: 10px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    text-align: start;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .CardActions > .CardActionButtons > button:hover,
  .CardActions > .CardActionButtons > button:focus {
    background-color: #bdbdbd;
  }

  .CardActions > .CardActionButtons > button > svg {
    margin-right: 10px;
  }

  .CardActions > h2 {
    margin: 0px 0px 5px 0px;
  }

  div > textarea {
    resize: none;
    border-radius: 5px;
    padding: 8px 10px;
  }

  .Close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: 0.2s;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: #f7f7f7;
    cursor: pointer;
  }

  .Close > svg {
    color: #222222;
  }

  .Close:hover {
    background-color: #bcbcc0;
  }

  .Checkbox {
    position: relative;
    top: 8px;
    left: 0px;
    height: 17px;
    width: 17px;
    border: 2px solid #747474;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
  }

  .DueDate {
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;
    width: auto;
  }

  .DueDate > .Checkbox {
    margin-right: 18px;
  }

  .DueDate > button {
    height: 35px;
    width: 140px;
    border: none;
    background-color: #dddddd;
    border-radius: 5px;
    padding: 0px 10px;
    width: auto;
  }

  .DueDateDone > button,
  .DueDateDone > .Checkbox {
    background-color: #28a745;
    color: #ffffff;
  }

  .DueDateDone > button:hover,
  .DueDateDone > button:focus,
  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    background-color: #218c3a;
    color: #ffffff;
  }

  .DueDateDone > .Checkbox {
    border: 2px solid #28a745;
  }

  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    border: 2px solid #218c3a;
  }

  .DueDateOverdue > button {
    background-color: #c42b2b;
    color: #ffffff;
  }

  .DueDateOverdue > button:hover,
  .DueDateOverdue > button:focus {
    background-color: #f53636 !important;
  }

  .DueDate > button:hover .DueDate > button:focus {
    background-color: #bdbdbd;
  }
}
