.Backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;  
    z-index: 11;
    background-color: hsl(0, 0%, 0%, 60%);
    overflow: auto;
}