.CardWrapper {
  width: 210px;
  height: 90px;
  background-color: #0067a2;
  padding: 7px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
}

.Title { 
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  width: 220px;
  margin-bottom: 5px;
}

/* .NewBoard {
  height: 80px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .Icon {
  margin: 10px;
  font-size: 30px
} */

.AddBoard {
  height: 100%;
  width: 200px;
  background-color: #ebecf0;
  border-radius: 5px;
  padding: 10px 10px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin-right: 20px;
}

.AddBoard:hover,
.AddBoard:active,
.AddBoard:focus
 {
    background-color: #d3d4d8;
}

.Actions {
  display: flex;
  flex-direction: row;
}

.Close {
  cursor: pointer;
  border-radius: 5px;
}

.Close:hover,
.Close:active,
.Close:focus {
background-color: #005180;
}

.ListHeader {
  display: flex;
  position: relative;
  margin-bottom: 5px;
}

.AddCard {
  display: flex;
  background-color: #5aad45;
  border: none;
  font-family: inherit;
  font-size: 14px;
  color: white;
  width: 100px;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.AddCard:hover {
  background-color: #488a37;
}







/* .Column {
  height: auto;
  margin: 10px;
}

.Container {
  width: 250px;
  background-color: #ebecf0;
  border-radius: 5px;
  padding: 10px 10px;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}

.CardList {
  width: auto;
  display: flex;
  flex-direction: column;
}



.Title {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  margin: 0px;
  padding: 5px;
  font-family: inherit;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  resize: none;
  overflow: hidden;
  box-sizing: content-box;
  width: 100%;
}

.Title:focus {
  border: 1px solid rgb(0, 121, 190, 80%);
  background-color: white;
}

.NewCard {
  border: none;
  resize: none;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  color: #3f3f3f;
  cursor: text !important;
}




 */
