@media (min-width: 625px) {

  .EditChecklistItem {
      padding-top: 5px;
      display: flex;
      padding-left: 5px;
      margin-left: 40px;
      width: 87%;
      align-self: center;
      margin-bottom: 5px;
      flex-direction: column;
  }

  .EditChecklistItem > textarea {
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
  }

  .EditChecklistItem > div{
      display: flex;
  }

  .SaveEdit {
      border: none;
      background-color: #28a745 ;
      color: #ffffff;
      height: 30px;
      border-radius: 5px;
      margin-right: 10px;
      margin: 0px 10px 10px 0px;
      transition: 0.2s;
  }

  .SaveEdit:hover,
  .SaveEdit:focus {
      background-color: #218c3a;
  }

  .CancelEdit {
      height: 30px;
      width: 30px;
      padding: 0px;
      border: none;
      background-color: #f7f7f7;
      border-radius: 5px;
      transition: 0.2s;
  }

  .CancelEdit:hover {
      background-color: #bdbdbd;
  }

  .ChecklistItemContent > span {
      width: 90%;
      align-self: center;
  }

  .ChecklistItemContent:hover,
  .ChecklistItemContent:focus {
      background-color: #e2e2e2;
  }
}

@media (min-width: 401px) and (max-width: 624px) {

    .EditChecklistItem {
        padding-top: 5px;
        display: flex;
        padding-left: 5px;
        width: 87%;
        align-self: center;
        margin-bottom: 5px;
        flex-direction: column;
    }
  
    .EditChecklistItem > textarea {
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
    }
  
    .EditChecklistItem > div{
        display: flex;
    }
  
    .SaveEdit {
        border: none;
        background-color: #28a745 ;
        color: #ffffff;
        height: 30px;
        border-radius: 5px;
        margin-right: 10px;
        margin: 0px 10px 10px 0px;
        transition: 0.2s;
    }
  
    .SaveEdit:hover,
    .SaveEdit:focus {
        background-color: #218c3a;
    }
  
    .CancelEdit {
        height: 30px;
        width: 30px;
        padding: 0px;
        border: none;
        background-color: #f7f7f7;
        border-radius: 5px;
        transition: 0.2s;
    }
  
    .CancelEdit:hover {
        background-color: #bdbdbd;
    }
  
    .ChecklistItemContent > span {
        width: 90%;
        align-self: center;
    }
  
    .ChecklistItemContent:hover,
    .ChecklistItemContent:focus {
        background-color: #e2e2e2;
    }

  

}

@media (max-width: 400px) {

    .EditChecklistItem {
        padding-top: 5px;
        display: flex;
        padding-left: 5px;
        margin-left: 40px;
        width: 87%;
        align-self: center;
        margin-bottom: 5px;
        flex-direction: column;
    }
  
    .EditChecklistItem > textarea {
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
    }
  
    .EditChecklistItem > div{
        display: flex;
    }
  
    .SaveEdit {
        border: none;
        background-color: #28a745 ;
        color: #ffffff;
        height: 30px;
        border-radius: 5px;
        margin-right: 10px;
        margin: 0px 10px 10px 0px;
        transition: 0.2s;
    }
  
    .SaveEdit:hover,
    .SaveEdit:focus {
        background-color: #218c3a;
    }
  
    .CancelEdit {
        height: 30px;
        width: 30px;
        padding: 0px;
        border: none;
        background-color: #f7f7f7;
        border-radius: 5px;
        transition: 0.2s;
    }
  
    .CancelEdit:hover {
        background-color: #bdbdbd;
    }
  
    .ChecklistItemContent > span {
        width: 90%;
        align-self: center;
    }
  
    .ChecklistItemContent:hover,
    .ChecklistItemContent:focus {
        background-color: #e2e2e2;
    }
  
    .Checkbox {
        position: relative;
        top: 8px;
        left: 5px;
        height: 17px;
        width: 17px;
        border: 2px solid #747474;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #ffffff;
        transition: 0.2s;
        cursor: pointer;
    }
  
    .Checkbox:hover, 
    .Checkbox:focus {
        background-color: #d0d0d0;
    }
   
}
