@media (min-width: 625px) {
  .Checkbox {
    position: relative;
    top: 8px;
    left: 0px;
    height: 17px;
    width: 17px;
    border: 2px solid #747474;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
  }

  .DueDate {
    margin-bottom: 10px;
    margin-left: 15px;
    display: flex;
    width: auto;
  }

  .DueDate > .Checkbox {
    margin-right: 15px;
  }

  .DueDate > button {
    height: 35px;
    width: 140px;
    border: none;
    background-color: #dddddd;
    border-radius: 5px;
    padding: 0px 10px;
    width: auto;
  }

  .DueDateDone > button,
  .DueDateDone > .Checkbox {
    background-color: #28a745;
    color: #ffffff;
  }

  .DueDateDone > button:hover,
  .DueDateDone > button:focus,
  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    background-color: #218c3a;
    color: #ffffff;
  }

  .DueDateDone > .Checkbox {
    border: 2px solid #28a745;
  }

  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    border: 2px solid #218c3a;
  }

  .DueDateOverdue > button {
    background-color: #c42b2b;
    color: #ffffff;
  }

  .DueDateOverdue > button:hover,
  .DueDateOverdue > button:focus {
    background-color: #f53636 !important;
  }

  .DueDate > button:hover .DueDate > button:focus {
    background-color: #bdbdbd;
  }
}

@media (min-width: 401px) and (max-width: 624px) {
  .Checkbox {
    position: relative;
    top: 8px;
    left: 0px;
    height: 17px;
    width: 17px;
    border: 2px solid #747474;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
  }

  .DueDate {
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;
    width: auto;
  }

  .DueDate > .Checkbox {
    margin-right: 18px;
  }

  .DueDate > button {
    height: 35px;
    width: 140px;
    border: none;
    background-color: #dddddd;
    border-radius: 5px;
    padding: 0px 10px;
    width: auto;
  }

  .DueDateDone > button,
  .DueDateDone > .Checkbox {
    background-color: #28a745;
    color: #ffffff;
  }

  .DueDateDone > button:hover,
  .DueDateDone > button:focus,
  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    background-color: #218c3a;
    color: #ffffff;
  }

  .DueDateDone > .Checkbox {
    border: 2px solid #28a745;
  }

  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    border: 2px solid #218c3a;
  }

  .DueDateOverdue > button {
    background-color: #c42b2b;
    color: #ffffff;
  }

  .DueDateOverdue > button:hover,
  .DueDateOverdue > button:focus {
    background-color: #f53636 !important;
  }

  .DueDate > button:hover .DueDate > button:focus {
    background-color: #bdbdbd;
  }
}

@media (max-width: 400px) {
  .Checkbox {
    position: relative;
    top: 8px;
    left: 0px;
    height: 17px;
    width: 17px;
    border: 2px solid #747474;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
  }

  .DueDate {
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;
    width: auto;
  }

  .DueDate > .Checkbox {
    margin-right: 18px;
  }

  .DueDate > button {
    height: 35px;
    width: 140px;
    border: none;
    background-color: #dddddd;
    border-radius: 5px;
    padding: 0px 10px;
    width: auto;
  }

  .DueDateDone > button,
  .DueDateDone > .Checkbox {
    background-color: #28a745;
    color: #ffffff;
  }

  .DueDateDone > button:hover,
  .DueDateDone > button:focus,
  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    background-color: #218c3a;
    color: #ffffff;
  }

  .DueDateDone > .Checkbox {
    border: 2px solid #28a745;
  }

  .DueDateDone > .Checkbox:hover,
  .DueDateDone > .Checkbox:focus {
    border: 2px solid #218c3a;
  }

  .DueDateOverdue > button {
    background-color: #c42b2b;
    color: #ffffff;
  }

  .DueDateOverdue > button:hover,
  .DueDateOverdue > button:focus {
    background-color: #f53636 !important;
  }

  .DueDate > button:hover .DueDate > button:focus {
    background-color: #bdbdbd;
  }
}
