
.Option {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px rgba(9, 30, 66, 0.35);
  position: absolute;
  z-index: 11;
  list-style: none;
  overflow: hidden;
  width: 200px;
  top: 30px;
  left: 200px
}


.OptionHeader,
.OptionHeaderSort {
  height: 30px;
  display: flex;
  border-bottom: 1px solid #ccc;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.OptionHeader {
  padding-left: 15px;

}
.OptionHeader > span {
  font-size: 14px;
}

.Option > hr {
  margin: 0
}

.OptionHeader > span,
.OptionHeaderSort > span {
  flex-grow: 1;
  text-align: center;
}

.Close {
  color: #3f3f3f;
  height: 25px;
  width: 25px;
  cursor: pointer;
  justify-self: flex-end;
  border-radius: 5px;
  margin-right: 3px;
}

.Close:hover,
.Close:focus {
  background-color: #bcbcc0;
}


li >  button {
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

li > button:hover,
li > button:active,
li > button:focus {
  background-color: #dfdfe2;
}


.Back {
  color: #3f3f3f;
  height: 25px;
  width: 25px;
  cursor: pointer;
  justify-self: flex-start;
  border-radius: 5px;
  margin-left: 3px;
}

.Back:hover,
.Back:focus {
  background-color: #bcbcc0;
}

.Actions > button {
  display: flex;
  border: none;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: white;
  width: 70px;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px;
  margin: 8px 0px 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  
}

.SuccessButton {
  background-color: #478a36;
}

.SuccessButton:hover,
.SuccessButton:active,
.SuccessButton:focus {
  background-color: #57a743;
}